@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #064e3b;
  background-image: radial-gradient(#10b981 0.5px, transparent 0.5px), radial-gradient(#10b981 0.5px, #064e3b 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}